{% extends "base.html" %}
{% block content %}
{% load static %}


<div class="container mt-5">
  <form method="post">
      {% csrf_token %}
      <div class="mb-3">
        <label for="AddTask" class="form-label">Edit Task</label>
        <input type="text" class="form-control" id="AddTask" name="AddTask" value="{{ task.AddTask }}">
      </div>
      <button type="submit" class="btn btn-success">Save</button>
      <a href="{% url 'home' %}" class="btn btn-secondary">Cancel</a>
  </form>
</div>
  
  
{% endblock content %}