{% extends "base.html" %}
{% block content %}
{% comment %} <h1>welcome to our success page</h1> {% endcomment %}

    
<div class="global-container">
    <div class="card login-form">
        <div class="card-body">
            <h3 class="card-title text-center">Error</h3>
            <div class="card-text text-center">
                Email is not verified
            </div>
            <div class="text-center">
                <a class="btn btn-primary" href="{% url 'login' %}" >Login</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}