{% extends "base.html" %}	
{% load static %}
{% block login %}

	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Wecome To Our website</p>
						<h1>User Registration</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

<div class="container" style="margin-block: 100px;">
  <form class="w-75 m-auto" method="post">
    {% csrf_token %}
      <div class="mb-3 d-flex justify-content-between">
        <div class="mb-3" style="width: 48%;">
          <label for="firstname" class="form-label">Enter Your First Name</label>
          <input type="text" class="form-control" id="firstname" name="firstname">
        </div>
        <div class="mb-3" style="width: 48%;">
          <label for="lastname" class="form-label">Enter Your last Name</label>
          <input type="text" class="form-control" id="lastname" name="lastname">
        </div>
      </div>
      <div class="mb-3">
        <label for="username" class="form-label">Enter Your username</label>
        <input type="text" class="form-control" id="username" name="username">
      </div>
      <div class="mb-3">
        <label for="useremail" class="form-label">Enter Your Email</label>
        <input type="text" class="form-control" id="useremail" name="useremail">
      </div>
      <div class="mb-3">
        <label for="Password" class="form-label">Password</label>
        <input type="password" class="form-control" id="Password" name="Password">
      </div>
      <div class="mb-3">
        <label for="ConfirmPassword" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword">
      </div>
      <button type="submit" class="btn btn-primary mb-4">Submit</button>
      <p>If you already have any account? &nbsp <a href="{% url "signin" %}" class="mt-5">Sign In here</a></p>
      {% if messages %}
        {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %}
      {% endif %}
    </form>
</div> 


{% endblock login %}